<h2>Home</h2>
<p>
This is the Word Box application. It is a utility for
collecting your words for non-english speakers. Helps 
you memorize them in a more fun way with some helpful
features.
</p>

<%= link_to "Sign up!", signup_path, :class => "signup_button round" %> 
