<%= link_to "Add Word", new_word_path %><br /><br />

<table border=1, summary="words of current user">
  <thead>
    <th>No</td>
    <th>Vocabulary</td>
    <th>Meaning</td>
  </thead>
  <tbody>
    <%= render "user_words" %>
  </tbody>
</table>
